.wrapper {
  padding: 20px;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.card {
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
  background: #f9f9f9;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.loadMore {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: coral;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.loadMore:hover {
  background-color: #ff8243;
}
